<%- include('partials/header') %>


    <head>

    </head>

    <body onload="FormatText();">


        <h1>
            <%= content[id].title %>
        </h1>

        <h3>
            <%= today %>
        </h3>
        <p id="mytext">
            <%= content[id].content %>
        </p>
        <script type="text/javascript">

            function FormatText() {
                var txt = document.getElementById("mytext").innerHTML;
                var matches = txt.match(/#\w+/g);
                if (matches == null)
                    return;

                for (i = 0; i < matches.length; i++) {
                    txt = txt.replace(matches[i], "<b>" + matches[i] + "</b>")
                }
                document.getElementById("mytext").innerHTML = txt;

            }
            console.log("hii");
        </script>
    </body>