
.main{
    margin: 3%;
    padding: 0 5%;
}
label{
    font-size: large;
    font-weight: 500;
}

::placeholder {
    color: white;
}

#content{
    border-radius: 10px;
    color: white;
    border: 7px solid rgb(26,57,99);
}
#submit{
    margin-top: 10px;
    width: 30%;
    
}
#title{
    border: 7px solid rgb(26,57,99);
    color: white;
    border-radius: 10px;

}
.option{
    margin:20px;
}
